quiz01: Jaký design má NIVEA adventní kalendář?
quiz_01-answer1: zasněžený kostel
quiz_01-answer2: zasněžený betlém
quiz_01-answer3: zasněžený dům

quiz02: Jaký motiv se objevil v kampani na přípravky pro péči o obličej NIVEA Visage v roce 1982?
quiz_02-answer1: modelka držící 2 produkty
quiz_02-answer2: modelka s kloboukem
quiz_02-answer3: modelka mazající si krém na ramena a paže

quiz03: Která influencerka/blogerka je ztvárněna na vánočních balíčcích NIVEA a zároveň se podílela na jejich tvorbě?
quiz_03-answer1: Patra Bene
quiz_03-answer2: Bára Sedláková
quiz_03-answer3: Tereza Beranová

quiz04: "Integrační vzdělávací program Medvídek NIVEA pomáhá přípravovat děti k úspěšnému vstupu:"
quiz_04-answer1: do mateřské školky
quiz_04-answer2: na základní školu
quiz_04-answer3: na osmileté gymnázium

quiz05: "Kolik minut denně se doporučuje číst dětem podle doporučení NIVEA projektu: Celé Česko čte dětem®?"
quiz_05-answer1: 5 minut
quiz_05-answer2: 10 minut
quiz_05-answer3: 20 minut

quiz06: Ve kterém roce se poprvé objevil ikonický NIVEA krém v plechovce s modrou barvou?
quiz_06-answer1: 1949
quiz_06-answer2: 1931
quiz_06-answer3: 1925

quiz07: Kolik procent odpadu z výrobních center NIVEA končí na skládce?
quiz_07-answer1: 10%
quiz_07-answer2: 5%
quiz_07-answer3: 0%

quiz08: "NIVEA je dlouholetým partnerem charitativního projektu Obědy pro děti, kolik obědů ročně pro děti uhradí?"
quiz_08-answer1: 16 000
quiz_08-answer2: 20 000
quiz_08-answer3: 24 000

quiz09: Produkty které řady jsou obsaženy ve vánočním balíčku NIVEA ve tvaru krychle se vzorem fotbalového míče?
quiz_09-answer1: MEN DEEP
quiz_09-answer2: Urban detox
quiz_09-answer3: Q10 body

quiz10: Jakou barvu nikdy neměla plechová krabička tradičního NIVEA krému?
quiz_10-answer1: růžovou
quiz_10-answer2: žlutou
quiz_10-answer3: modrou

quiz11: "Jaký produkt je v balíčku NIVEA dárek pro rty #expertbeautyset společně s balzámem na rty Labello?"
quiz_11-answer1: Dvoufázová expertní micelární voda
quiz_11-answer2: Tělové mléko s olejem Růže & arganiový olej
quiz_11-answer3: Sprchový gel s jílem Zázvor & Bazalka

quiz12: Který z následujících produktů najdete v NIVEA adventním kalendáři?
quiz_12-answer1: "MEN Gel na vlasy s matným efektem (150 ml)"
quiz_12-answer2: "Kids Sprchová pěna s vůní broskve a jablka (200 ml)"
quiz_12-answer3: "Dvoufázový odličovač očí a make-upu (125 ml)"

quiz13: S vynálezem jaké ingredience se pojí zrod značky NIVEA v roce 1911?
quiz_13-answer1: koenzym Q10
quiz_13-answer2: eucerit
quiz_13-answer3: kyselina hyaluronová

quiz14: Jakou barvu má dárková plechová kazeta NIVEA Q10 beauty set?
quiz_14-answer1: žlutá
quiz_14-answer2: růžová
quiz_14-answer3: modrá

quiz15: Kdy se děti v mateřských školkách poprvé mohly setkat s projektem - Medvídkem NIVEA?
quiz_15-answer1: 2002
quiz_15-answer2: 2009
quiz_15-answer3: 2017

quiz16: Kolik různých dárkových balení má NIVEA celkem v nabídce?
quiz_16-answer1: 30
quiz_16-answer2: 33
quiz_16-answer3: 36

quiz17: "NIVEA pečuje o rodinu je název pro:"
quiz_17-answer1: program společenské odpovědnosti NIVEA
quiz_17-answer2: "soubor tipů a rad, jak pečovat o pokožku celé rodiny"
quiz_17-answer3: příměstské tábory konané každé léto

quiz18: Ve kterém roce byl představen první NIVEA produkt pro muže - NIVEA Mýdlo na holení?
quiz_18-answer1: 1911
quiz_18-answer2: 1922
quiz_18-answer3: 1933

quiz19: Kolik korun věnovala NIVEA díky prodeji vánočních balíčků od roku 2015 na podporu rodinám?
quiz_19-answer1: 3 250 615 Kč
quiz_19-answer2: 5 892 970 Kč
quiz_19-answer3: 7 003 575 Kč

quiz20: "Jak se jmenuje dárkový vánoční balíček, ve kterém naleznete tělové suflé?"
quiz_20-answer1: NIVEA dárkové balení pro hydrataci
quiz_20-answer2: NIVEA set s vůní třešňových květů
quiz_20-answer3: NIVEA dárkový set pro vyživenou pokožku

quiz21: Ve spolupráci s odborníky které univerzity byly připraveny materiály pro projekt - Medvídek NIVEA?
quiz_21-answer1: Masarykovy univerzity
quiz_21-answer2: Univerzity Karlovy
quiz_21-answer3: Univerzity Palackého v Olomouci

quiz22: Jaký dárkový předmět NIVEA se stal hitem v 60. letech minulého století?
quiz_22-answer1: míč NIVEA
quiz_22-answer2: osuška NIVEA
quiz_22-answer3: králiček NIVEA

quiz23: Pro muže je připraveno jedno netradiční balení vánočního balíčku NIVEA MEN. V čem jsou produkty umístěné?
quiz_23-answer1: v nákladním autě
quiz_23-answer2: v kulaté plechovce
quiz_23-answer3: v bedně s nářadím

quiz24: V roce 1998 byl na trh uveden pleťový krém NIVEA proti vráskám -  jaká byla jeho hlavní ingredience?
quiz_24-answer1: eucerit
quiz_24-answer2: arganiový olej
quiz_24-answer3: koenzym Q10
